  <div class="dashboard_header">

    <div class="dashbard_title_part">
        <h2>Dashboard List</h2>
        <div class="search_part">
          <form [formGroup]="stateForm">
            <mat-form-field>
              <input type="text" matInput placeholder="User Group" formControlName="stateGroup" required [matAutocomplete]="autoGroup">
              <mat-icon matTooltip="Search" matTooltipPosition="below">search</mat-icon>
              <mat-autocomplete #autoGroup="matAutocomplete">
                  <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
                      <mat-option *ngFor="let name of group.names" [value]="name">
                        {{name}}
                      </mat-option>
                  </mat-optgroup>
                </mat-autocomplete>
            </mat-form-field>
          </form>
        </div>
    </div>
    <div class="dashboard_actions">
        <ul>
            <li routerLink="/add" [tooltip]="$any(HtmlContent)" contentType="template">
                <mat-icon>add_circle</mat-icon>
            </li>
            <!-- <li matTooltip="List View" matTooltipPosition="below">
                <mat-icon>list</mat-icon>
            </li> -->
        </ul>
    </div>
    <ng-template #HtmlContent>
      <p>Add <strong>User</strong></p>
    </ng-template>
  </div>
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid" class="card_container">
      <!-- <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5,6,7]"> -->
        <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let user of Users">
        
        <mat-card class="mat-elevation-z4" >
          <mat-card-header>
            <mat-card-title>{{user.name}}</mat-card-title>
          </mat-card-header>
          <div class="body_img">
            <img mat-card-image src="../../assets/images/mountains.jpg">
          </div>
         
          <mat-card-content>
            <p>
              {{user.des}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button  mat-mini-fab color="primary" aria-label="Edit" routerLink="/edit/{{user.id}}" matTooltip="Edit" matTooltipPosition="above"> <mat-icon>edit</mat-icon></button>
            <button  mat-mini-fab color="warn" aria-label="Delete" style="float: right;" (click)="openDialog(user)"   matTooltip="Delete" matTooltipPosition="above" > <mat-icon>delete</mat-icon></button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
</div>


