  <div class="dashboard_header">

    <div class="dashbard_title_part">
        <h2>Dashboard List</h2>
        <div class="search_part"></div>
    </div>
    <div class="dashboard_actions">
        <ul>
            <li routerLink="/add">
                <mat-icon>add_circle</mat-icon>
            </li>
            <li>
                <mat-icon>list</mat-icon>
            </li>
        </ul>
    </div>

  </div>
  <div class="content">
    <div fxLayout="row wrap" fxLayoutGap="16px grid" class="card_container">
      <!-- <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let num of [1,2,3,4,5,6,7]"> -->
        <div [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let user of Users">
        
        <mat-card class="mat-elevation-z4" >
          <mat-card-header>
            <mat-card-title>{{user.name}}</mat-card-title>
          </mat-card-header>
          <div class="body_img">
            <img mat-card-image src="../../assets/images/mountains.jpg">
          </div>
         
          <mat-card-content>
            <p>
              {{user.des}}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button  mat-mini-fab color="primary" aria-label="Edit" routerLink="/edit/{{user.id}}"> <mat-icon>edit</mat-icon></button>
            <button  mat-mini-fab color="warn" aria-label="Delete" style="float: right;" (click)="delete(user.id)"> <mat-icon>delete</mat-icon></button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
</div>