/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
/* @import "~@angular/material/prebuilt-themes/pink-bluegrey.css"; */
/* @import "~@angular/material/prebuilt-themes/purple-green.css"; */

@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons"); 


body{
    margin: 0;
    /* overflow: hidden; */
}


.link_container{
    margin: 20px 0;
    text-align: center;
}
.link_container a{
    cursor: pointer;
    color: blue;
}
.link_container a:hover{
    text-decoration: underline;
}

.mat-icon{
    margin: 0 5px;
}
.mat-list-base{
    padding: 0 !important;
}
.mat-toolbar-row, .mat-toolbar-single-row,
.mat-list-base .mat-list-item .mat-list-item-content,
.mat-list-base .mat-list-option .mat-list-item-content 
{
    padding: 0 !important;
}

.form_container mat-card{
    max-width: 700px;
    margin: 0 auto;
    margin-bottom: 20px;
}

